/*KMOM04 STYLES*/
.box {
    position: absolute;
}
  
.center {
    top: 50%;
    left: 50%;
}
  
.red {
    background-color: red;
}
  
.size200 {
    height: 200px;
    width: 200px;
}

.kmom4 {
    justify-content: flex-start !important;
}

.selected {
    outline: thick double rgba(255, 0, 0, 0.4);
}

.animateSize {
    transition: width 1s, height 1s;
}

.bump {
    transition: top 0.5s;
}